<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension
         point="org.eclipse.ui.editors">
      <editor
            class="gef_myeditor.MyGraphicalEditor"
            contributorClass="gef_toolbar.MyGraphicalEditorActionBarContributor"
            default="false"
            icon="icons/river.gif"
            id="WBHGEF.mygraphicaleditor"
            name="mygraphicaleditor">
      </editor>
 </extension>
 <extension
         point="org.eclipse.swt.examples.launcher.launchItems">
      <item
            category="com.bonc.rcp.example.category.gef"
            description="gef写的一个例子 com.bonc.gef.example.river.WEBHGEF插件提供"
            icon="icons/river.gif"
            id="com.bonc.gef.example.river.WEBHGEF.item"
            name="mygraphicaleditor">
         <editor
               editorId="WBHGEF.mygraphicaleditor"
               editorInputclass="gef_myeditor.MyEditorInput"
               pluginId="com.bonc.rcp.example">
         </editor>
      </item>
   </extension>
</plugin>
